.dropdown-container {
  @apply relative inline-block text-left min-w-60 w-60;

  .dropdown-label {
    @apply text-xs text-gray-400 text-left;
  }

  .dropdown-selected {
    @apply inline-flex w-full justify-between items-center gap-x-1.5 rounded-md bg-white px-4 py-2.5 text-sm shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50;

    &.has-error {
      @apply ring-red-500 bg-red-50 hover:bg-red-100;
    }
    .dropdown-selected-value {
      @apply text-sm truncate w-60 max-w-sm;

      &.disabled {
        @apply text-slate-400;
      }
    }

    .dropdown-search-input {
      @apply focus:outline-none text-sm;
      background-color: transparent;
    }
  }

  .dropdown-list {
    @apply absolute right-0 overflow-x-hidden max-h-60 overflow-y-auto z-10 mt-2 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black/5 transition focus:outline-none data-[closed]:scale-95 data-[closed]:transform data-[closed]:opacity-0 data-[enter]:duration-100 data-[leave]:duration-75 data-[enter]:ease-out data-[leave]:ease-in min-w-60 w-60 divide-y;
    
    .dropdown-option {
      @apply cursor-pointer space-x-2 px-4 py-2.5 text-sm inline-flex justify-between w-60 max-w-sm items-center  hover:bg-gray-100 hover:text-gray-900 hover:outline-none;

      .option-icon-wrapper {
        svg {
          @apply h-3 w-3 mr-1 mt-1 text-gray-700;
        }
        

        &.disabled {
          svg {
            @apply text-slate-400;
          }
         
        }
      }
    }

    .dropdown-empty-search {
      @apply flex flex-col items-center m-6;

      .not-found-icon {
        @apply h-12 w-12 text-gray-300;
      }

      .not-found-text {
        @apply text-xs text-gray-500;
      }
    }
  }
}

.dropdown-icon {
  @apply -mr-1 h-5 w-5;

  &.opened {
    transform: rotate(180deg);
  }

  &.disabled {
    @apply text-slate-400;
  }
}

.disabled {
  pointer-events: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}

.small {
  @apply min-w-48 w-48;

  .dropdown-selected {
    @apply px-3 py-2;

    .dropdown-selected-value {
      @apply text-xs;
    }
  }

  .dropdown-list {
    @apply min-w-48 w-48;

    .dropdown-option {
      @apply w-48 max-w-xs px-3 py-2 text-xs;
    }
  }
}

.large {
  @apply min-w-72 w-72;

  .dropdown-label {
    @apply text-sm;
  }

  .dropdown-selected {
    @apply px-5 py-3.5;

    .dropdown-selected-value {
      @apply text-base;
    }

    .dropdown-search-input {
      @apply text-base;
    }
  }

  .dropdown-list {
    @apply min-w-72 w-72;

    .dropdown-option {
      @apply w-72 max-w-72 px-5 py-3.5 text-base;
    }
  }
  
  
}